.Row {
  margin-bottom:30px;
}

.Row  h2{
  margin: 0px 0px 0px 30px;
}

.row-listarea {
  overflow-x: hidden;
  padding-left: 30px
}

.movieRow-item {
  display: inline-block;
  width: 150px;
}

.movieRow-item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}


.movieRow-item img:hover {
  transform: scale(1);
  cursor: pointer;
}

.movieRow-list{
  transition: all ease 0.5s;
}



.movieRow-right, .movieRow-left {
  position: absolute;
  width: 40px;
  height:225px;
  z-index: 99;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.596);
  cursor: pointer;
  transition : all ease 0.5s;
  opacity: 0;
}
.movieRow-left {
  left:0;
}


.movieRow-right {
  right:0;
} 

.Row:hover .movieRow-left , 
.Row:hover .movieRow-right {
  opacity: 1;
}


@media (max-width:760px) {
  .Row .movieRow-left , 
.Row .movieRow-right {
  opacity: 1;
}
}